.gnomenu-panel-box {
}

.gnomenu-panel-button {
    margin: 0px;
    padding: 0px 10px;
}

.gnomenu-panel-menu-button {
    margin: 0px;
    padding: 0px 10px;
}

.gnomenu-panel-menu-icon {
    padding: 0px;
}

.gnomenu-panel-menu-button:active {
}

.gnomenu-main-menu-box {
    padding: 5px 20px 0px 20px;
}

.gnomenu-menu-top-pane {
    padding: 0px 0px 20px 0px;
}

.gnomenu-menu-middle-pane {
    padding: 0px 0px 0px 0px;
}

.gnomenu-menu-bottom-pane {
    padding: 0px 0px 0px 0px;
}

.gnomenu-user-group-box {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 22px;
}

.gnomenu-user-group-button {
    border-radius: 20px;
    border-width: 1px;
    padding: 5px 9px;
}

.gnomenu-user-group-button:insensitive {
    color: #9f9f9f;
}

.gnomenu-user-group-button-label {
    font-size: 10pt;
    font-weight: bold;
}

.gnomenu-user-group-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
}

.gnomenu-user-group-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-user-group-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-view-mode-box-wrapper {
}

.gnomenu-view-mode-box {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 22px;
    spacing: 2px;
}

.gnomenu-view-mode-button {
    border-radius: 20px;
    border-width: 1px;
    padding: 7px 9px;
}

.gnomenu-view-mode-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
}

.gnomenu-view-mode-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-view-mode-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-favorites-scrollbox {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 8px 0px 0px 8px;
    padding: 3px;
}

.gnomenu-favorites-box {
    padding: 0px;
    spacing: 2px;
}

.gnomenu-favorite-button {
    border-radius: 3px;
    border-width: 1px;
    padding: 2px;
}

.gnomenu-favorite-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.2);
}

.gnomenu-favorite-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-favorite-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-categories-workspaces-wrapper {
    padding: 0px 0px 0px 0px;
}

.gnomenu-categories-workspaces-scrollbox {
    border-image: url("sepa-right.png") 12 12 12 12;
    height: 311px;
    padding: 8px 2px 8px 0px;
}

.gnomenu-workspace-thumbnails {
    spacing: 11px;
}

.gnomenu-workspaces-background {
    padding: 5px 12px 5px 11px;
}

.gnomenu-categories-box {
    padding-left: 6px;
    padding-right: 6px;
    spacing: 2px;
}

.gnomenu-category-button {
    border-radius: 3px;
    border-width: 1px;
    height: 22px;
    padding: 0px 10px;
}

.gnomenu-category-button-label {
    font-size: 9pt;
    font-weight: bold;
    padding: 3px 10px;
}

.gnomenu-category-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.2);
}

.gnomenu-category-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
}

.gnomenu-category-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-power-group-box {
    border-width: 2px;
    padding: 3px 0px 0px 0px;
    spacing: 2px;
}

.gnomenu-power-group-button {
    border-radius: 14px;
    border-width: 1px;
    padding: 4px 8px;
}

.gnomenu-power-group-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.2);
}

.gnomenu-power-group-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-power-group-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-applications-scrollbox {
    border-image: url("b-panel-r.png") 12 12 12 12;
    padding: 0px 2px 4px 2px;
    width: 364px;
}

.gnomenu-applications-box-wrapper {
}

.gnomenu-applications-list-box {
    padding-bottom: 0px;
    padding-left: 38px;
    padding-right: 0px;
    padding-top: 8px;
    spacing: 2px;
}

.gnomenu-application-list-button {
    border-radius: 3px;
    border-width: 1px;
    height: 22px;
    padding: 0px 8px;
}

.gnomenu-application-list-button-label {
    font-size: 9pt;
    font-weight: bold;
    padding: 2px 0px 3px 24px
}

.gnomenu-application-list-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.2);
}

.gnomenu-application-list-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-application-list-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-applications-grid-box {
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
}

.gnomenu-application-grid-button {
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    width: 56px;
    height: 52px;
}

.gnomenu-application-grid-button-label {
    font-size: 8pt;
    font-weight: bold;
    padding-top: 2px;
    text-align: center;
    width: 44px;
}

.gnomenu-application-grid-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
}

.gnomenu-application-grid-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-application-grid-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-selected-app-box {
    padding: 2px 6px 0px 0px;
    text-align: right;
    max-width: 100px;
}

.gnomenu-selected-app-title {
    height: 17px;
    font-weight: bold;
    font-size: 12px;
}

.gnomenu-selected-app-description {
    height: 17px;
    font-size: 12px;
}
