.gnomenu-panel-box {
}

.gnomenu-panel-button {
    margin: 0px;
    padding: 0px 10px;
}

.gnomenu-panel-menu-button {
    margin: 0px;
    padding: 0px 10px;
}

.gnomenu-panel-menu-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(119,119,119,0.5);
    background-gradient-end: rgba(119,119,119,0.7);
}

.gnomenu-main-menu-box {
    padding: 5px 20px 0px 20px;
}

.gnomenu-menu-top-pane {
    padding: 0px 0px 20px 0px;
}

.gnomenu-menu-middle-pane {
    padding: 0px 0px 0px 0px;
}

.gnomenu-menu-bottom-pane {
    padding: 0px 0px 0px 0px;
}

.gnomenu-user-group-box {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.1);
    background-gradient-end: rgba(255,255,255,0.2);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.06);
    border-radius: 17px;
    border: 2px solid #888a85;
}

.gnomenu-user-group-button {
    border-radius: 14px;
    border-width: 1px;
    padding: 1px 10px 2px 10px;
}

.gnomenu-user-group-button:insensitive {
    color: #9f9f9f;
}

.gnomenu-user-group-button-label {
    font-size: 10pt;
    font-weight: bold;
}

.gnomenu-user-group-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(119,119,119,0.5);
    background-gradient-end: rgba(119,119,119,0.7);
}

.gnomenu-view-mode-box-wrapper {
}

.gnomenu-view-mode-box {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.1);
    background-gradient-end: rgba(255,255,255,0.2);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.06);
    border-radius: 17px;
    border: 2px solid #888a85;
}

.gnomenu-view-mode-button {
    border-radius: 14px;
    border-width: 1px;
    padding: 0px 8px;
}

.gnomenu-view-mode-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(119,119,119,0.5);
    background-gradient-end: rgba(119,119,119,0.7);
}

.gnomenu-search-box {
}

#gnomenuMenuMainbox #searchEntry {
    height: 0px;
    width: 180px;
}

.gnomenu-favorites-scrollbox {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.1);
    background-gradient-end: rgba(255,255,255,0.2);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.06);
    border-radius: 8px 0px 0px 8px;
    border: 2px solid #888a85;
    padding: 2px;
}

.gnomenu-favorites-box {
    padding: 3px;
}

.gnomenu-favorite-button {
    border-radius: 4px;
    border-width: 1px;
    padding: 2px 3px;
}

.gnomenu-favorite-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(119,119,119,0.5);
    background-gradient-end: rgba(119,119,119,0.7);
}

.gnomenu-categories-workspaces-wrapper {
    padding: 0px 0px 0px 0px;
}

.gnomenu-categories-workspaces-scrollbox {
    border-image: url("sepa-right.png") 12 12 12 12;
    height: 316px;
    padding: 8px 2px 8px 0px;
}

.gnomenu-workspaces-background {
    padding: 5px 12px 5px 11px;
}

.gnomenu-categories-box {
    spacing: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

.gnomenu-category-button {
    border-radius: 4px;
    border-width: 2px;
    padding: 0px;
    width: 124px;
}

.gnomenu-category-button-label {
    font-size: 9pt;
    font-weight: bold;
    padding: 1px 10px 2px 10px;
}
.gnomenu-category-button:active,
.gnomenu-category-button-selected {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(119,119,119,0.5);
    background-gradient-end: rgba(119,119,119,0.7);
}

.gnomenu-power-group-box {
    border: 2px;
    padding: 3px 0px 0px 0px;
}

.gnomenu-power-group-button {
    border-radius: 4px;
    border: 2px;
    padding: 1px 5px;
}

.gnomenu-power-group-button:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(119,119,119,0.5);
    background-gradient-end: rgba(119,119,119,0.7);
}

.gnomenu-applications-scrollbox {
    border-image: url("b-panel-r.png") 12 12 12 12;
    padding: 0px 2px 4px 2px;
    width: 392px;
}

.gnomenu-applications-box-wrapper {
}

.gnomenu-applications-list-box {
    padding-bottom: 0px;
    padding-left: 28px;
    padding-right: 0px;
    padding-top: 8px;
}

.gnomenu-application-button {
    padding: 0px 10px;
    border-width: 1px;
    border-radius: 17px 4px 4px 17px;
    width: 324px;
}

.gnomenu-application-button-label {
    padding: 1px 24px 2px 24px
}

.gnomenu-application-button:active,
.gnomenu-application-button-selected {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(119,119,119,0.5);
    background-gradient-end: rgba(119,119,119,0.7);
}

.gnomenu-applications-grid-box {
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
}

.gnomenu-application-grid-button {
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    width: 62px;
    height: 52px;
}

.gnomenu-application-grid-button-label {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    width: 44px;
}

.gnomenu-application-grid-button:active,
.gnomenu-application-grid-button-selected {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(119,119,119,0.5);
    background-gradient-end: rgba(119,119,119,0.7);
}

.gnomenu-selected-app-box {
    padding: 2px 6px 0px 0px;
    text-align: right;
    max-width: 100px;
}

.gnomenu-selected-app-title {
    height: 17px;
    font-weight: bold;
    font-size: 12px;
}

.gnomenu-selected-app-description {
    height: 17px;
    font-size: 12px;
}
