
/* ::::::::::  PANEL- BUTTONS :::::::::::: */

.gnomenu-panel-button {
    padding-right: 6px;
    padding-left: 6px}

.gnomenu-panel-menu-button {
    spacing: 3px;
    padding-right: 6px;
    padding-left: 6px}

.gnomenu-panel-menu-icon {
    padding-right: 0;
    padding-left: 0 }

/* ::::::::::  MAIN-MENU-BOX :::::::::::: */

.gnomenu-main-menu-box {
    padding: 0 10px }

.gnomenu-menu-top-pane {
    padding-bottom: 10px }

/* ::::::::::  USER-GROUP-BOX :::::::::::: */

.gnomenu-user-group-box {
    margin-right: 15px;
    border-radius: 4px;
    border-width: 1px }

/*  user-group-buttons  */

.gnomenu-user-group-button {
    border-radius: 0;
    border-width: 0;
    padding: 0 7px;
    min-width: 75px }

.gnomenu-user-group-button.popup-sub-menu {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.0) }

.gnomenu-user-group-button:first-child {
    border-radius: 3px 0 0 3px }

.gnomenu-user-group-button:first-child:hover,
.gnomenu-user-group-button:first-child:active,
.gnomenu-user-group-button.popup-sub-menu:first-child {
    border-right: 1px;
    padding-right: 6px }

.gnomenu-user-group-button:last-child {
    border-radius: 0 3px 3px 0 }

.gnomenu-user-group-button:last-child:hover,
.gnomenu-user-group-button:last-child:active,
.gnomenu-user-group-button.popup-sub-menu:last-child {
    border-left: 1px;
    padding-left: 6px }

/* ::::::::::  VIEW-MODE-BOX :::::::::::: */

.gnomenu-view-mode-box {
    border-radius: 4px 0 0 4px;
    border-width: 1px;
    spacing: 0 }

.gnomenu-view-mode-button {
    border-radius: 0;
    border-width: 0;
    padding: 0 7px;
    min-width: 20px }

.gnomenu-view-mode-button:first-child {
    border-radius: 3px 0 0 3px }

.gnomenu-view-mode-button:first-child:hover,
.gnomenu-view-mode-button:first-child:active {
    border-right: 1px;
    padding-right: 6px }

.gnomenu-view-mode-button:last-child:hover,
.gnomenu-view-mode-button:last-child:active {
    border-left: 1px;
    padding-left: 6px }

/* ::::::::::  SEARCH-ENTRY :::::::::::: */

#gnomenuMenuMainbox StEntry {
    padding-right: 7px;
    padding-left: 7px }

.gnomenu-search-entry {
    min-width: 364px;
    border-width: 1px;
    border-left-width: 0;
    border-radius: 0 4px 4px 0 }

#gnomenuMenuMainbox .gnomenu-search-entry .search-entry-icon {
    icon-size: 1em;
    padding-left: 4px;
    padding-right: 4px }

.gnomenu-search-entry.no-useroptions {}

/* ::::::::::  SHORTCUTS-SCROLLBOX :::::::::::: */

.gnomenu-shortcuts-scrollbox {
    border-radius: 4px 0 0 4px;
    border-width: 1px;
    padding: 5px }

.gnomenu-shortcuts-box {
    spacing: 5px }

/*  shortcut-buttons  */

.gnomenu-shortcut-button {
    border-radius: 3px;
    border-width: 1px;
    padding: 3px }

.gnomenu-shortcut-symbolic-button {
    border-width: 1px;
    padding: 5px}

/* ::::::::::  CATEGORIES-WORKSPACES :::::::::::: */

.gnomenu-categories-workspaces-wrapper {
    padding: 0px }

.gnomenu-categories-workspaces-scrollbox {
    border-radius: 0 4px 0 0;
    border-width: 1px;
    border-left: 0;
    height: 412px;
    padding: 0 }

/*  workspace-thumbnails  */

.gnomenu-workspace-thumbnails {
    spacing: 6px }

.gnomenu-workspaces-background {
    padding: 9px;
    padding-right: 10px }

/*  categories  */

.gnomenu-categories-box {
    padding: 4px;
    padding-right: 5px;
    spacing: 4px }

.gnomenu-category-button {
    border-radius: 3px;
    border-width: 1px;
    padding: 0px }

.gnomenu-category-button-label {
    font-size: 9pt;
    padding: 4px 7px 5px }

.gnomenu-category-button.popup-sub-menu {
    font-weight: bold;
    box-shadow: 0 1px 0 rgba(255,255,255,0.04) }

/* :::::::::: POWER-GROUP-BOX  :::::::::::: */

.gnomenu-power-group-box {
    padding: 10px 6px6px 6px;
    spacing: 2px }

.gnomenu-power-group-button {
    border-radius: 16px;
    border-width: 1px;
    padding: 7px }

/* :::::::::: APPLICATIONS-SCROLLBOX  :::::::::::: */

.gnomenu-applications-scrollbox {
    border-bottom: 1px }

/*  scrollbar  */

#gnomenuMenuMainbox StScrollView StScrollBar {
    min-width: 0px;
    min-height: 0px }

#gnomenuMenuMainbox StScrollBar StButton#vhandle, 
#gnomenuMenuMainbox StScrollBar StButton#hhandle {
    margin: 0 }

/* :::::::::: APPLICATIONS-LIST-BOX  :::::::::::: */

.gnomenu-applications-list-box {
    padding-right: 0;
    padding-left: 15px;
    spacing: 4px }

/*  list-buttons  */

.gnomenu-application-list-button {
    border-radius: 3px;
    border-width: 1px;
    padding: 0 8px }

.gnomenu-application-list-button-label {
    padding-left: 16px }

.gnomenu-application-list-button-icon {
    padding-top: 3px }

/* :::::::::: APPLICATIONS-GRID-BOX  :::::::::::: */

.gnomenu-applications-grid-box {
    padding-right: 0;
    padding-left: 15px }

    /*grid-buttons*/

.gnomenu-application-grid-button {
    border-radius: 3px;
    border-width: 1px }

.gnomenu-application-grid-button.col3 {
    padding: 5px 5px 5px;
    min-width: 132px; }
.gnomenu-application-grid-button.col4 {
    padding: 5px 5px 5px;
    min-width: 96px; }
.gnomenu-application-grid-button.col5 {
    padding: 5px 5px 5px;
    min-width: 74px; }
.gnomenu-application-grid-button.col6 {
    padding: 5px 5px 5px;
    min-width: 60px; }
.gnomenu-application-grid-button.col7 {
    padding: 5px 5px 5px;
    min-width: 50px; }

    /*grid-button-labels*/

.gnomenu-application-grid-button-label {
    font-size: 7.5pt;
    font-weight: bold;
    padding: 0;
    text-align: center; }

/* :::::::::: SELECTED-APP-BOX  :::::::::::: */

.gnomenu-selected-app-box {
    text-align: right;
    max-width: 100px }

.gnomenu-selected-app-title {
    padding-right: 6px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 9pt }

.gnomenu-selected-app-description {
    padding-right: 8px;
    font-size: 7pt }
