.gnomenu-panel-box {
}

.gnomenu-panel-button {
    margin: 0px;
    padding: 0px 10px;
}

.gnomenu-panel-menu-button {
    margin: 0px;
    padding: 0px 10px;
}

.gnomenu-panel-menu-icon {
    padding: 0px;
}

.gnomenu-panel-menu-button:active {
}

.gnomenu-main-menu-box {
    padding: 10px 25px 0px 25px;
}

.gnomenu-menu-top-pane {
    padding: 0px 0px 25px 0px;
}

.gnomenu-menu-middle-pane {
    padding: 0px 0px 0px 0px;
}

.gnomenu-menu-bottom-pane {
    padding: 0px 0px 0px 0px;
}

.gnomenu-user-group-box {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 20px;
}

.gnomenu-user-group-button {
    border-radius: 20px;
    border-width: 1px;
    height: 30px;
    padding: 0px 17px;
}

.gnomenu-user-group-button:insensitive {
    color: #9f9f9f;
}

.gnomenu-user-group-button-label {
    font-size: 11pt;
    font-weight: bold;
}

.gnomenu-user-group-button:active {
}

.gnomenu-user-group-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-user-group-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-view-mode-box-wrapper {
}

.gnomenu-view-mode-box {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 20px;
    spacing: 4px;
}

.gnomenu-view-mode-button {
    border-radius: 20px;
    border-width: 1px;
    padding: 5px 13px;
}

.gnomenu-view-mode-button:active {
}

.gnomenu-view-mode-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-view-mode-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-search-box {
}

#gnomenuMenuMainbox #searchEntry {
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.3);
    width: 230px;
    font-size: 11pt;
    font-weight: bold;
    height: 32px;
    padding: 0px 12px;
}

#gnomenuMenuMainbox .search-entry-icon {
}

#gnomenuMenuMainbox StScrollBar {
    width: 12px;
}

#gnomenuMenuMainbox StScrollBar StBin#trough {
}

.gnomenu-favorites-scrollbox {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 8px 0px 0px 8px;
    padding: 4px;
}

.gnomenu-favorites-box {
    padding: 0px;
    spacing: 3px;
}

.gnomenu-favorite-button {
    border-radius: 4px;
    border-width: 1px;
    padding: 4px;
}

.gnomenu-favorite-button:active {
}

.gnomenu-favorite-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-favorite-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-categories-workspaces-wrapper {
    padding: 0px 0px 0px 0px;
}

.gnomenu-categories-workspaces-scrollbox {
    border-image: url("sepa-right.png") 12 12 12 12;
    height: 540px;
    padding: 9px 2px 9px 0px;
}

.gnomenu-workspace-thumbnails {
    spacing: 11px;
}

.gnomenu-workspaces-background {
    padding: 5px 13px 5px 11px;
}

.gnomenu-categories-box {
    padding-left: 6px;
    padding-right: 6px;
    spacing: 11px;
}

.gnomenu-category-button {
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    padding: 0px;
}

.gnomenu-category-button-label {
    font-size: 11pt;
    font-weight: bold;
    padding: 5px 10px;
}

.gnomenu-category-button:active {
}

.gnomenu-category-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
}

.gnomenu-category-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-power-group-box {
    border-width: 1px;
    padding: 10px 0px 0px 0px;
    spacing: 4px;
}

.gnomenu-power-group-button {
    border-radius: 20px;
    border-width: 1px;
    padding: 6px 14px;
}

.gnomenu-power-group-button:active {
}

.gnomenu-power-group-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-power-group-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5)
}

.gnomenu-applications-scrollbox {
    border-image: url("b-panel-r.png") 12 12 12 12;
    padding: 0px 2px 4px 2px;
    width: 602px;
}

.gnomenu-applications-box-wrapper {
}

.gnomenu-applications-list-box {
    padding-bottom: 0px;
    padding-left: 78px;
    padding-right: 0px;
    padding-top: 8px;
    spacing: 11px;
}

.gnomenu-application-list-button {
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    padding: 0px 10px;
}

.gnomenu-application-list-button-label {
    font-size: 11pt;
    font-weight: bold;
    padding: 5px 0px 5px 24px
}

.gnomenu-application-list-button:active {
}

.gnomenu-application-list-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-application-list-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-applications-grid-box {
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
}

.gnomenu-application-grid-button {
    border-width: 1px;
    border-radius: 7px;
    height: 94px;
    padding: 7px;
    width: 100px;
}

.gnomenu-application-grid-button-label {
    font-size: 10pt;
    font-weight: bold;
    padding-top: 0px;
    text-align: center;
    width: 80px;
}

.gnomenu-application-grid-button:active {
}

.gnomenu-application-grid-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-application-grid-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-selected-app-box {
    padding: 10px 10px 0px 0px;
    text-align: right;
    max-width: 100px;
}

.gnomenu-selected-app-title {
    font-weight: bold;
    font-size: 16px;
    height: 28px;
}

.gnomenu-selected-app-description {
    font-size: 14px;
    height: 20px;
}
